<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title> Cert Chain - 블록체인 자격증명 서비스 </title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <% include header %>

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/blockchain2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">키 발급</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">키 발급</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Newsletter -->
                    <div class="single-widget-area mb-100">
                        <div class="newsletter-form">
                            <h5>키 발급</h5>
                            <p>키의 유효기간은 1개월 입니다.<br>문서 최대 보관 개수는 10개 입니다.</p>
                            메모<input type="text" name="key_memo" id="key_memo" class="form-control"
                                placeholder="남길 메모를 입력하세요">
                            비밀번호<input type="password" name="key_password" id="key_password" class="form-control"
                                placeholder="키 발급 보안을 위해 사용자 비밀번호를 다시 한 번 입력해주세요">
                            <button id="make_key_btn" type="button" class="btn roberto-btn w-100">키 발급</button>

                        </div>
                    </div>

                    <!-- Recent Post -->
                    <div class="single-widget-area mb-100">
                        <h4 class="widget-title mb-30">내가 발급받은 키 목록</h4>
                        <button type="button" class="btn roberto-btn w-100" id="search_key_btn">발급된 키 조회</button>

                        <!-- Single Recent Post -->
                        <span id="key_list"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Blog Area End -->

    <% include footer %>

    <!— **** All JS Files ***** —>
    <!— jQuery 2.2.4 —>
    <script src="js/jquery.min.js"></script>
    <!— Popper —>
    <script src="js/popper.min.js"></script>
    <!— Bootstrap —>
    <script src="js/bootstrap.min.js"></script>
    <!— All Plugins —>
    <script src="js/roberto.bundle.js"></script>
    <!— Active —>
    <script src="js/default-assets/active.js"></script>
    <!— Main Javascript —>
    <script src="js/main.js"></script>

</body>

</html>